extends layout

block content
  h1= title

  
block content

    h1(style="text-align: center;") Create User
    .loginform-container
      form(action="/createUser", method="post", class="loginform-container")
        label(for="Username", id="login-label") Username:
        input(type="text", id="Username", name="Username", required, class="form-input")

        label(for="Email", id="login-label") Email:
        input(type="Email", id="Email", name="Email", required, class="form-input")

        label(for="Password", id="login-label") Password:
        input(type="Password", id="Password", name="Password", required, class="form-input")
        if errorMessage
          p.error(class="error-message")= errorMessage
        .login
          button(type="submit", class="login") Create User
      
    

