extends layout

block content
  .container
    h1 Generere tilfældige pokemonner
    p Her kan du generere tilfældige pokemonner
    p #{pokemon}

    form(action="/Generate" method="post")
      input(type="checkbox" name="Mega" id="Mega")
      label(for="Mega") Mega
      br
      input(type="checkbox" name="Gmax" id="Gmax")
      label(for="Gmax") Gmax
      br
      input(type="checkbox" name="Unbreedable" id="Unbreedable")
      label(for="Unbreedable") Unbreedable
      br
      input(type="checkbox" name="Evolved" id="Evolved")
      label(for="Evolved") Evolved
      br
      label(for="slider") Choose a value:
      input(type="range" id="slider" name="slider" min="0" max="100" value="50")
      input(type="number" id="sliderInput" name="sliderInput" min="0" max="100" value="50")
      br
      input(type="submit" value="Generer Pokemon")

    script.
        const slider = document.getElementById("slider");
        const sliderInput = document.getElementById("sliderInput");
        slider.addEventListener("input", function() {
        sliderInput.value = this.value;
        });

        sliderInput.addEventListener("input", function() {
          if (parseInt(this.value) >= parseInt(slider.getAttribute("min")) && parseInt(this.value) <= parseInt(slider.getAttribute("max"))) {
            slider.value = this.value;
          }
        });

