extends layout

block content
  .container
    h1 Generere tilfældige pokemonner
    p Her kan du generere tilfældige pokemonner
    p #{pokemon}

    form(action="/submit" method="post")
      input(type="checkbox" name="Mega" id="Mega")
      label(for="Mega") Mega
      br
      input(type="checkbox" name="Gmax" id="Gmax")
      label(for="Gmax") Gmax
      br
      input(type="checkbox" name="Unbreedable" id="Unbreedable")
      label(for="Unbreedable") Unbreedable
      br
      input(type="checkbox" name="Evolved" id="Evolved")
      label(for="Evolved") Evolved
      br

  body
    form
      label(for="slider") Choose a value:
      input(type="range" id="slider" name="slider" min="0" max="100" value="50")
        p(id="SliderValue") Selected value: 50

    script.
        document.getElementById("slider").addEventListener("input", function() {
        document.querySelector("SliderValue").textContent = "Selected value: " + this.value;
      });

