doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
  nav
  div.navbuttons
    ul
      li  
        button(onclick="rdCreateUser()") Create user
        script.
          function rdCreateUser() {
            window.location.href = '/createUser';
          }
      li 
        button(onclick="rdLogin()") Log In
        script.
          function rdLogin() {
            window.location.href = '/login';
          }
      li
        div.logo-container
          img.logo(src='images/lapras_pokemon.jpg', alt='Company Logo')
      li 
        button(onclick="rdForside()") Generate
        script.
          function rdForside() {
            window.location.href = '/Generate';
          }
      li 
        button(onclick="rdMinside()") My Team
        script.
          function rdMinside() {
            window.location.href = '/myteam';
          }
  div.logOut
    button(onclick="rdLogOut()") Log Out
    script.
      function rdLogOut() {
        window.location.href = '/logout';
      }
block content
