body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container {
  text-align: center;
}

.form-container {
  margin-top: 20px;
}

.checkbox-label {
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: #333;
  margin-left: 10px; /* Adjust margin as needed */
}

.checkbox-input {
  vertical-align: middle;
  margin-right: 5px;
}

.range-label {
  display: block;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.range-input,
.number-input {
  width: 100px;
  margin-bottom: 10px;
}

.submit-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-height: 900px;
  overflow-y: auto;
  gap: 20px;
  padding: 20px;
}

/* CSS for grid items */
.grid-item {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif; /* Use a similar font or Pokemon-like font */
}

/* CSS for scaling images */
.grid-item img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* CSS for ID and Name */
.grid-item p {
  font-size: 16px; /* Adjust the size */
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase; /* Uppercase text */
  color: #333; /* Dark color for contrast */
  font-family: 'Press Start 2P', cursive; /* Use a Pokemon-like font */
}

.pokemon-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
  grid-auto-rows: 115px;
  gap: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.pokemon {
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.pokemon img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: 0;
}
#team,
#box,
#graveyard {
  min-height: 200px;
}
.small-font {
  font-size: 10px; /* Adjust the font size as needed */
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  text-transform: uppercase;
}

.Formcontainer{
  width: 500px;
  height: 500px;
  padding-left: 37%;
  margin-bottom: 500px;
}

.form-container { 
  display: block;
  margin-bottom: 16px;
  padding: 10px; /* Adjust the padding to make the input smaller */
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  font-size: 20px; /* Adjust the font size as needed */
  width: 100%;
  
}
button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #45a049;
}

label{
  display: block;
  margin-bottom: 8px;
  width: 100%;
}



