body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container {
  text-align: center;
}

.form-container {
  margin-top: 20px;
}

.checkbox-label {
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: #333;
  margin-left: 10px; /* Adjust margin as needed */
}

.checkbox-input {
  vertical-align: middle;
  margin-right: 5px;
}
.range-label {
  display: block;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}
.range-input,
.number-input {
  width: 100px;
  margin-bottom: 10px;
}
.submit-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}
/* CSS for the Generate container  START */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-height: 900px;
  overflow-y: auto;
  gap: 20px;
  padding: 20px;
}
.grid-item {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
.grid-item img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.grid-item p {
  font-size: 16px; 
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase; 
  color: #333; 
  font-family: 'Press Start 2P', cursive; /
}
.small-font {
  font-size: 0.7vw; 
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  text-transform: uppercase;
}
/* CSS for the Generate container END */

.loginform-container { 
  font-family: 'Press Start 2P', cursive;
  background-color: #333;
  color:#fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  height: 80px;
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
}

.login button:hover {
  background-color: #45a049;
}
#login-label{
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 100%;
  font-size: 25px;
}
.form-input {
  display: block;
  margin-bottom: 16px;
  padding: 10px; /* Adjust the padding to make the input smaller */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 25px; /* Adjust the font size as needed */
  width: 100%;
}

h1{
  text-align: center;
  margin-top: 0px;
  font-family: 'Press Start 2P', cursive;
}
.background-image {
  position: fixed;
  left:50%;
  top:55%;
  transform: translate(-50%, -50%);
  opacity: 0.2; 
  background-size: cover;
}
.background-image img {
  width: 1200px;
  height: auto;
}

#box {
  position: absolute;
  top: 4vw;
  left: 0;
  width: calc(25% - 10px); /* Two slots wide */
  height: 100%; /* Set the desired height */
  overflow-y: auto; /* Add a vertical scrollbar */
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 20px;
}

#graveyard {
  position: absolute;
  top: 4vw;
  right: 0;
  width: calc(25% - 10px); /* Two slots wide */
  height: 100%; /* Set the desired height */
  overflow-y: auto; /* Add a vertical scrollbar */
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 20px;
}
#team {
  position: fixed;
  bottom: 0;
  left: 26%;
  width: 48%; /* Span the width of the screen */
  display: grid;
  grid-template-columns: repeat(6, minmax(15px, 1fr)); /* Six items wide */
  gap: 5px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 1%;
}
#team,
#box,
#graveyard {
  font-family: 'Press Start 2P', cursive;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.pokemon-box .pokemon {
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
  position: relative; /* Position elements within their container */
}
.pokemon-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-auto-rows: calc(10vw); /* Set the height relative to the width (30% in pixels) */
  gap: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.pokemon {
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
  aspect-ratio: 1/1;
}
.pokemon-box .pokemon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
}

h2{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.8vw;
}

#graveyard .pokemon {
  position: relative;
}

#graveyard .pokemon::before,
#graveyard .pokemon::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: rgba(255, 0, 0, 0.8); /* Red color with low opacity */
  border-color: #333;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#graveyard .pokemon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#graveyard .pokemon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#searchBar {
  /* Adjust the styles for the search bar */
  width: 100%; /* Modify the width as needed */
  padding: 10px; /* Adjust padding */
  font-size: 16px; /* Modify font size */
}

#submitBtn {
  /* Modify the styles for the submit button */
  padding: 10px; /* Adjust padding */
  font-size: 16px; /* Modify font size */
  width: 100%; /* Adjust width */
  height: auto; /* Allow height to adjust based on content */
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  width: 40%; /* Set the width to 40% of the page */
  margin: 0 auto; /* Center the form horizontally */
}

#searchBar {
  /* Adjust the styles for the search bar */
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box; /* Include padding in the width */
}

#submitBtn {
  /* Modify the styles for the submit button */
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: auto;
  box-sizing: border-box; /* Include padding in the width */
}